# Gradle 관련 파일
.gradle/
build/
gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE 설정 파일
.idea/
*.iml
*.ipr
*.iws
out/
bin/

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
application-test.yml

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
